*{
  margin: 0;
  padding: 0;
  
}
#top-bar{
width: 100%;
height: 13%;
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
}
#top-bar h2{
font-family: 'Passions Conflict', cursive;
font-weight: bold;
  font-size: 5rem;
  letter-spacing: 3px;
  margin-left: 82px;
  display: inline-block;
}
#top-bar a{
  margin-top: 18px;
  margin-right: 12px;
}
#buttons{
width: 15%;
height: 100%;
float: right;
margin-top: 10px;
}

.bg{
  
width: 85%;
height:180vh;
position: absolute;
top:85px;
left:250px;
bottom:0%;


}
.bg img{

width: 100%;
height: 100%;
opacity:0.8;
}
.sidebar{
position: absolute;
top:85px;
width: 250px;
height: 167vh;
bottom:0%;
background: linear-gradient(90deg, rgba(84,78,179,1) 17%, rgba(133,133,189,1) 57%, rgba(169,185,189,1) 92%);
transition: left 0.4s ease;
}
.sidebar.show{
left: 0px;
}
.sidebar .text{
color: white;
font-size: 30px;
font-weight:bolder;
line-height: 50px;
text-align: center;
background: linear-gradient(90deg, rgba(24,13,201,0.6727824919030112) 27%, rgba(126,126,177,1) 57%, rgba(7,9,59,1) 78%);
letter-spacing: 1px;
font-family: 'Roboto Slab', serif;
}
.bed-btn .fa-caret-down
{
 margin-right: 0px;
}
.admit-btn .fa-caret-down
{
 margin-right: 0px;
}
.discharge-btn .fa-caret-down
{
 margin-right: 0px;
}
.fa-columns
{
  margin-right:20px;
}
.fa-procedures
{
margin-right:5px;
}
.fa-sign-in-alt
{
margin-right:5px;
}
.fa-sign-out-alt
{
  margin-right:5px;
}
nav ul{
  background: linear-gradient(90deg, rgba(84,78,179,1) 17%, rgba(133,133,189,1) 57%, rgba(169,185,189,1) 92%);
height: 100%;
width: 100%;
list-style: none;
}
nav ul li{
line-height: 100px;
border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
position: relative;
color: white;
text-decoration: none;
font-size: 20px;
padding-left: 15px;
font-weight: bolder;
display: block;
width: 100%;
border-left: 3px solid transparent;
font-family: 'Sedgwick Ave', cursive;
margin-right: 30px;
}
nav ul li.active a{
color: brown;
background: rgb(125, 151, 151);

text-decoration: none;
}
nav ul li a:hover{
background: rgb(125, 151, 151);
text-decoration: none;
color: brown;

}
nav ul ul{
position: static;
display: none;
}
nav ul .bed-show.show{
display: block;
}
nav ul .admit-show.show1{
display: block;
}
nav ul .discharge-show.show2{
  display: block;
}
nav ul ul li{
line-height: 42px;
border-top: none;
}
nav ul ul li a{
font-size: 17px;
color: #e6e6e6;
padding-left: 80px;
}
nav ul li.active ul li a{
color: #e6e6e6;
background: #1b1b1b;

}
nav ul ul li a:hover{
color: cyan!important;
background: #1e1e1e!important;
cursor: pointer;
}
nav ul ul li a:active{
color: cyan!important;

}
nav ul li a span{
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
font-size: 22px;
transition: transform 0.4s;
}
nav ul li a span.rotate{
transform: translateY(-50%) rotate(-180deg);
}
.content-box{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content-box h3
{
  position:absolute;
  top:120px;
  left:320px;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: rgb(4, 4, 85);
}
.header
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 
}
#create_new
{
  position:absolute;
  top:140px;
  left:1250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
#create_new .fas
{
  color:white;
  margin-right:5px;
}
.line-break{
  position: absolute;
  top: 185px;
  width: 75%;
  height: 5px;
  left: 20%;
  
  background-color: rgb(6, 6, 121);
}

table {
  position: absolute;
  top:200px;
  left:450px;
  border-collapse: seperate;
  width: 900px;
  height: 200px;
  border: 5px solid #bdc3c7;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(224, 191, 224);
  opacity: 0.8;
}

tr {
  transition: all .2s ease-in;
  cursor: pointer;
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 5px solid #ddd;
}

td{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: black;
}

#row-header {
  background-color: #16a085;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bolder;
  
}



tr:hover {
  background-color:blanchedalmond;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.input-box{
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.icon
{
  color: black;
  margin-right: 10px;
  font-size: 20px;

}
label{
font-family: 'Noto Serif Display', serif;
font-size:20px;
}
.save-btn
{
background-color: #13274F;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
margin-left: 250px;
margin-bottom:30px;

}

#content5
{
  display:block;
}
#content1,#content2,#content3,#content4
{
  display:none;

}
.outer-div {
position:absolute;
top:120px;
left:600px;
width:500px;
height: 720px;
padding: 60px 35px 35px 35px;
border-radius: 40px;
background: #ecf0f3;
box-shadow: 20px 20px 30px #d4d4d6e7,
            -20px -20px 30px #a3a1a1;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}




.logo {
position: absolute;
top:30px;
left:180px;
width:150px;
height:150px;
border-radius: 50%;
margin:0 auto;
box-shadow: 
/* logo shadow */
0px 0px 2px #5f5f5f,
/* offset */
0px 0px 0px 5px #d6dbdb,
/*bottom right */
8px 8px 15px #a7aaaf,
/* top left */
-8px -8px 15px #585757
;
}
.logo img{
position:relative;

}

.fields {
  position:absolute;;
  top:190px;
  left:50px;
  
  width: 100%;

}

.fields label{
font-family: 'Noto Serif Display', serif;
font-size:20px;
}
.form-input-box{
width: 80%;
height:20%;
border: none;
outline:none;
background: none;
font-size: 18px;
color: #555;
padding:20px 10px 20px 5px;

border-radius: 25px;
box-shadow: inset 8px 8px 8px #cbced1,
            inset -8px -8px 8px #ffffff;
}

.discharge-button {
position:absolute;
top:440px;
left:40px;
outline: none;
border:none;
cursor: pointer;
width:60%;
height: 60px;
border-radius: 30px;
font-size: 20px;
font-weight: 700;
font-family: 'Lato', sans-serif;
color:#fff;
text-align: center;
background: #24cfaa;
box-shadow: 5px 5px 10px #033036,
            -5px -5px 10px #aac9db;
transition: 0.5s;
}
.discharge-button:hover {
background:#2fdbb6;
color:#13274F;
}
.discharge-button:active {
background:#1da88a;
}
.discharge-button span{
  position:relative;
  top:15px;
  font-size: 30px;
}

.outer-container
{
  
  width:75%;
  height:100%;
  position:absolute;
  top:100px;
  left:22%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.dashboard-box
{
  display:flex;
  position:absolute;
  left:170px;
  top:50px;
  
}
.dashboard-box p{
  font-family: 'Supermercado One', cursive;
  font-size: 80px;
  letter-spacing: 2px;
  font-weight: bolder;
  color:rgba(75, 18, 75, 0.829);
}
.dashboard-box img{
  width:100px;
  height:100px;
  margin-right:30px;
  margin-left:30px;

}
.info-box
{
  
  position:relative;
  top:150px;
  width:100%;
  height:70%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  
}

.info-content
{
  border:5px solid rgb(53, 2, 40);
  flex-basis:30%;
  height:65%;
  margin:0 auto;
  border-radius: 20%;
  background:linear-gradient(rgb(228, 89, 158),white);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
 
  opacity:0.8;
  box-shadow: inset 10px 20px 30px rgb(48, 1, 38),5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
   

}

.info-content h2{
  font-weight: bolder;
  color:black;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}
.imgicon
{
  margin-left:80px;
}
#wardicon
{
  margin-left:100px;
  border-radius:20%;
}

.info-content p{
  font-weight: bolder;
  color:black;
  margin-left:50px;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  text-align:justify;
}

