*{
	margin: 0;
	padding: 0;
}
#main-box{
	width: 100%;
	height: 88vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../IMAGES/img4/sccss_bg.png");
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
}
.success-box{
	width: 35%;
	height: 50vh;
	margin-left: 30%;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 20px;
	transition: all 0.4s;
}
.success-box img{
	position: absolute;
    top: -33px;
    left: 43%;
    width: 58px;
    height: 60px;
}
#right-btn{
	position: absolute;
    right: -34px;
    top: 135px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}
#success{
	font-family: 'Abril Fatface', cursive;
	font-size: 2.4rem;
    letter-spacing: 1.4px;
}
#thanks{
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
    font-weight: bold;
}
#thanks i{
	color: #f4c430;
}
#call{
	font-family: 'Teko', sans-serif;
	letter-spacing: 1.1px;
}
#num{
	font-family: 'Lobster', cursive;
	color: #006400;
}
.info-box{
	width: 100%;
	height: 100%;
	background-color: bisque;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 7px 18px;
}

.show{
	left: 108%;
	z-index: 1;
}
.shift-left{
	margin-left: 15%;
}

#upper{
	display: flex;
	justify-content: space-between;
    align-items: center;
    font-family: 'Acme', sans-serif;
}
#middle{
	margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Acme', sans-serif;
}
#b-id,#lower{
	font-family: 'Acme', sans-serif;
}
#pay-btn{
	position: absolute;
    right: 20px;
    bottom: 13px;
}