*{
	margin: 0;
	padding: 0;
}
#dpt-box{
	width: 80%;
	height: 70vh;
	margin: auto;
	margin-top: 40px;
}
#srvc{
	font-family: 'Pacifico', cursive;
    letter-spacing: 2.5px;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;

    /*Adding gradient*/

    background-color: red;
	background-image: linear-gradient(to top, #403a3e, #be5869);;
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}
#dpts{
	width: 100%;
	height: 135vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.box{
	flex-basis: 20%;
	margin: 15px;
	height: 15%;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Signika Negative', sans-serif;
	font-size: 1.6rem;
	border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
	background: linear-gradient(to left, #3fada8, #808080);
	box-shadow: -2px 2px 3px grey; 
	color: black;
	transition: all 0.3s;
}
#dpts a{
	text-decoration: none;
}
.box:hover{
	color: black;
	transform: translate(10px,10px);
}
