#heading h1{
	text-align: center;
	margin-left: 30px;
	margin-top: -50px;
}
#labtest{
	text-align: center;
	margin-top: 20px;
	text-decoration: underline;
}
.subheading{
	font-style: italic;
	margin-bottom: 40px;
}
#value{
	color: darkblue;
	font-style: italic;
}
#footer{
	width: 100%;
	height: 6%;
	background-color: black;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	color: white;
}
#nrml_range_table{
	width: 90%;
}
table, th, td {
  	border: 4px solid white;
  	border-collapse: collapse;
}
th, td {
  	background-color: grey;
  	text-align: center;
  	padding: 9px 5px;;
}
th{
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: white;
    background-color: black;
}
td{
	font-weight: bold;
  	font-size: 1.2rem;
  	letter-spacing: 2px;
}