*{
	margin: 0;
	padding: 0;
}
table, th, td {
  border: 4px solid white;
  border-collapse: collapse;
}
th, td {
  text-align: center;
  padding: 9px 5px;;
}
th{
	font-family: 'Prompt', sans-serif;
  	font-size: 1.3rem;
  	letter-spacing: 2px;
  	color: white;
 	background-color: rgb(52,3,46);
}
td{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
tr:nth-child(even){
	background-color: rgb(247, 243, 249);;
}
tr:nth-child(odd){
	background-color:rgb(241, 224, 243);;
}
.action_icons{
	margin-right: 6%;
  	font-size: 1.4rem;
  	cursor: pointer;
  	color: darkblue;
}
#booking_details h5{
	font-family: 'Kanit', sans-serif;
	font-size: 1.5rem;
    letter-spacing: 2px;
}
#booking_details h3, #booking_details h4{
	font-family: 'Akaya Telivigala', cursive;
	font-size: 2rem;
    letter-spacing: 1px;
}
#booking_details h3{
	margin-bottom: 3%;
}
#booking_details h4{
	float: right;
	margin-right: 10%;
}
#booking_details hr{
	box-shadow: 1px 0px 2px grey;
	outline: none;
	margin-bottom: 3%;
}
#booking_details #date{
	margin-bottom: 3%;
}
#booking_details .modal-body{
	padding: 1rem 2rem;
}
.modal-title{
	font-size: 2.5rem;
	letter-spacing: 2px;
	font-family: 'Redressed', cursive;
}