html {
  scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#home{
	width: 100%;
	height: 90vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../IMAGES/img/hospital.jpg");
	background-position: center;
	background-size: cover;
}
#navbar{
	width: 100%;
	height: 14vh;
	background-image: linear-gradient(to right, rgba(255,255,255,0.6), rgb(173, 216, 230));
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#icon{
	margin-left: 50px;
}
#icon img{
	width: 75px;
    height: 75px;
    border-radius: 50%;
}
#menu{
	flex-basis: 50%;
	height: 100%;
}
#menu ul{
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#menu li{
	list-style: none;
}
#menu li a{
	text-decoration: none;
	font-family: 'Arvo', serif;
	color: black;
	font-size: 1.4rem;
	font-style: italic;
}
#menu li a:hover {
 	font-weight: bold;
 	text-decoration: underline;
}
#body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
}
#body h2{
	font-family: 'Mochiy Pop One', sans-serif;
}
#body h1{
	line-height: 80px;
	font-family: 'Righteous', cursive;
	letter-spacing: 2px;
}
#body h4{
	margin-top: 35px;
	font-family: 'Satisfy', cursive;
	letter-spacing: 2px;
}
#body p{
	font-family: 'Caveat', cursive;
	font-size: 1.5rem;
}

/*MODULES*/

#modules{
	margin-top: 50px;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#modules h2, #location h2, #contact h2, #extra_module h2{
	font-family: 'Architects Daughter', cursive;
	font-weight: bold;
	font-size: 2.5rem;
}
#module-box{
	margin-top: 40px;
	width: 100%;
	height: 75%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.module{
	width: 100%;
	height: 100%;
	flex-basis: 25%;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 3px 8px 7px #a3c1ad;
    cursor: pointer;
}
.module img{
	width: 80%;
	height: 75%;
}
.module button{
	margin-bottom: 10px;
	margin-top: 2px;
}
.module h3{
	text-decoration: none;
	font-family: 'Mochiy Pop P One', sans-serif;
	color: #034694;
}
.module:hover {
	transform: translate(5px,5px);
	transition-duration: 1s;
}

#carousel-box{
	height: 55vh;
	background-color: #F0F0F0;
	margin-bottom: 50px;
	margin-top: 12%;
}
.carousel {
  width:593px;
  height:396px;
  margin: auto;
}

/*LOACTION*/

#location{
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#map-box{
	display: flex;
	margin-top: 30px;
	justify-content: space-evenly;
	align-items: center;
}
#locations ul li{
	list-style: none;
	font-family: 'Caveat', cursive;
	font-size: 30px;
}
#locations ul li i{
	margin-right: 20px;
}


/*CONTACT US*/

#contact{
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../IMAGES/img/contact_bg.jpg");
	background-position: center;
	background-size: cover;
	margin-top: 50px;
	display: flex;
	flex-direction:column;
	align-items: center;
	color: white;
	position: relative;
}
#contact h2{
	margin-top: 10px;
}
#contact-info{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}
#contact-info-right i{
	margin-right: 10px;
}
#contact-info-left img{
	height: 168px;
	width: 168px;
	border-radius: 50%;
	margin-left: 40px;
}
#contact-info h4{
	font-family: 'Pacifico', cursive;
	font-size: 1.7rem;
}
#social-media{
	margin-left: 40px;
  margin-top: 25px;
}
#social-media i{
	font-size: 34px;
	margin-right: 16px;
}


/*------MODAL-----*/
.bgclr{
	background-color: #13274F;
}
.inpt-frmt{
	width: 100%;
    outline: none;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.icon-design{
	font-size: 20px;
  margin-right: 10px;
}

/*SCROLL TO TOP*/

#scroll_to_top_btn{
	width: 50px;
  height: 50px;
  position: absolute;
  bottom: 12px;
  right: 22px;
  cursor: pointer;
}

.eye{
	position:absolute;
	top:60%;
	left:90%;
	cursor:pointer;
}
.eye1{
	position:absolute;
	top:43%;
	left:90%;
	cursor:pointer;
}
.eye2{
	position:absolute;
	top:55%;
	left:90%;
	cursor:pointer;
}

#hide1,#hide3,#hide5,#hide7{
	display: none;
}

/*ADDITIONAL MODULE*/

#extra_module{
	width: 100%;
	height: 68vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
}
.heart{
	color: #AA0000;
	font-size: 45px;
}
#em_content{
	width: 95%;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 30px;
}
#em_left, #em_right{
	width: 50%;
  height: 100%;
}
#em_left img{
	width: 100%;
	height: 100%;
}
.ems{
	width: 70%;
	height: 20%;
	margin-bottom: 20px;
	background-color: #fcffa4;
	border-radius: 50px;
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 50px;
	margin-left: 20%;
	box-shadow: 2px 2px 10px #6699cc;
}
.ems img{
	width: 20%;
	height: 100%;
	border-radius: 50px;
}
.ems h3{
	margin-left: 40px;
	font-family: 'Moon Dance', cursive;
	font-weight: bold;
  font-size: 3rem;
}
.click_btn{
	font-size: 35px;
  color: black;
  position: absolute;
  right: 37px;
  bottom: 32px;
}
