
body{
    margin: 0;
    padding:0;
    
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:linear-gradient(to right,rgb(205, 228, 228),rgb(187, 221, 221));
    width:100%;
    height:14vh;
  
}
#logo{
    width:80px;
    height:80px;
    margin-left: 50px;
}
#navbar{
    flex-basis: 50%;
   
}
#navbar ul{
	
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    
}
#navbar li{
   
    list-style-type: none;
}
#navbar li a{
     
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    font-weight: bolder;
    font-size: 25px;
}
#navbar a:hover
{
    background-color:rgb(151, 181, 245);
    border-radius: 50px;
    text-transform: uppercase;
    padding:10px;
}
.banner{
    position: absolute;
    width: 100%;
    height:600px;
    
}
.banner img{
    position: absolute;
    width: 100%;
    height:600px;
    opacity:0.8;
    
}
.banner h1{
    position: absolute;
    top:35%;
    width:100%;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    font-size:100px;
    color:rgb(243, 154, 95);
    -webkit-text-stroke:2px white;
    text-shadow: 20px 20px 20px black;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 600px;
   
}
.patient-care{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:80%;
   
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
span#heading{
   
    
    font-size: 50px;
    display:table;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 195, 127);
    color: rgb(3, 3, 78);
    font-weight: bolder;
    font-family: 'Road Rage', cursive;
    padding:20px;
}
#head1{
    
    color: brown;
    font-family: 'Righteous', cursive;
    text-align: left;
   
}
.block1{
    width:70%;
    
}
.block2{
    margin-right:50px;
}


li.quality{
    margin-left:30px;
    padding: 10px;
    font-size: 20px;
     color: rgb(80, 4, 4);
    font-weight:bolder;
    list-style-type:none;
}
li.quality:before{
    content: "\29BF";
    margin-right: 10px;
    color: navy;

}

.facilities{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
#healthcare1{
    width:200px;
    height:200px;
    margin-top: 30px;
    margin-left:50px;
}
#healthcare2{
    width:200px;
    height:200px;
    margin-left:200px;
    margin-top: 30px;
    
}

#head2
{
    font-size: 50px;
    font-family: "Libre Baskerville', serif";
    color:indigo;
    text-align: center;
    margin-left: 200px;
    
    font-weight: bolder;
}

#head1{
    
    color: brown;
    font-family: 'Righteous', cursive;
    text-align: left;
    font-size:20px;
}



#head2 span{
    border:2px solid black;
    padding: 20px;
    background-color: rgb(243, 166, 140);
    border-radius:10px;
    

}
.mycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    width:100%;
}
.side-image{
    display: flex;
    flex-direction: column;
}
.side-image #img1{
  width:500px;
  height:500px;
  margin-left:50px;
  margin-top: 200px;;
}
.side-image #img2{
  width:500px;
  height:600px;
  margin-left:50px;
 margin: auto;
}
.side-contents{
    display: flex;
    flex-direction: column;
    flex-basis:50%;
    margin-top: 0;
}
.blocks{
    display: flex;
    flex-direction: row;
    
    

}
.icon1 img{
    width:120px;
    height:120px;
    margin-left:70px;
    border:2px solid black;
    border-radius:50%;
    margin-top: 40px;

}
.icon2 img{
    width:120px;
    height:120px;
    border:2px solid black;
    border-radius:100%;
    margin-left: 400px;
    margin-top: 30px;
   
}
.icon3 img{
    width:120px;
    height:120px;
    margin-left:70px;
    border:2px solid black;
    border-radius:50%;
    margin-top: 30px;

}
.icon4 img{
    width:120px;
    height:120px;
    border:2px solid black;
    border-radius:100%;
    margin-left: 350px;
    margin-top: 50px;
    
}
.icon5 img{
    width:120px;
    height:120px;
    margin-left:70px;
    border:2px solid black;
    border-radius:50%;
    margin-top: 50px;

}
.icon6 img{
    width:120px;
    height:120px;
    border:2px solid black;
    border-radius:100%;
    margin-left: 400px;
    margin-top: 100px;
    
}
.content1,.content2,.content3,.content4,.content5,.content6 {
   margin-left: 10px;
   margin-top:0;
}
.content1 h2,.content2 h2,.content3 h2,.content4 h2,.content5 h2,.content6 h2{
   font-size: 30px;
   font-family: 'Archivo Narrow', sans-serif;
   color: rgb(2, 2, 66);
  
}
.content1 p,.content2 p,.content3 p,.content4 p,.content5 p,.content6 p{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    text-align: justify;

}

.technology{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width:100%;
}
#block-header{
    text-align: center;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: rgb(92, 26, 2);
    

}

.holdingcontainer1{
    width:90%;
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  .card1{
    flex: 1;
    background: rgb(247, 151, 151);
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }

  .card2{
    flex: 1;
    background: rgb(215, 247, 128);
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }

  .card3{
    flex: 1;
    background: rgb(119, 243, 243);
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }
  .card4{
    flex: 1;
    background: rgb(245, 179, 125);
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }

  .holdingcontainer2{
    width: 90%;
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
   
  }
  .card5{
    flex: 1;
    background: rgb(163, 250, 146);
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }
  
  
  .card6{
    flex: 1;
    background: rgb(247, 151, 151);
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }

  .card7{
    flex: 1;
    background: rgb(215, 247, 128);
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border:3px solid green;
    border-radius:5%;
    box-shadow: 7px 7px 7px 7px #888888;
    height: 420px;
    width: 200px;
  }

  .card8{
    flex: 1;
    background: rgb(119, 243, 243);
    padding: 10px;
    font-size: 12px;
     margin: 10px;
     border:3px solid green;
     border-radius:5%;
     box-shadow: 7px 7px 7px 7px #888888;
     height: 420px;
    width: 200px;
  }
  
  .cardimages {
      border:2px solid purple;
      border-radius: 10%;
      vertical-align: middle;
      margin-left:30px;
      

  }
  #icon{
      margin-left:500px;
      width:500px;
      height:200px;

      
  }
  .patient-service{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }
  .guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width:70%;
    background-color: bisque;
    padding:30px;
  }
  
#p1{
    text-align: center;
    font-family: 'Praise', cursive;
    font-size: 70px;
    letter-spacing: 5px;
    color: rgb(180, 130, 3);
    -webkit-text-stroke:2px black;
}
.guides h2{
    font-size:35px;
    font-weight: bolder;
    font-family: 'Montagu Slab', serif;
    color: rgb(44, 6, 71);
}
.guides p{

    font-family: 'Crimson Pro', serif;
    font-size: 25px;
    font-weight: bolder;
}

#bg4{
    
    margin-top: 100px;
    margin-bottom: 80px;
}

.hospital{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 150px;
}
.outer-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#dept-header
{
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top:200px;
    color: rgb(2, 94, 94);
    font-weight: bolder;
    -webkit-text-stroke:2px black;
    
}
.departments{
    width: 60%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:0px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dept{
    width: 150px;
    height:150px;
    background-color: rgb(248, 213, 167);
    margin: 0px 10px;
    transition: 1s;
    padding: 10px;

}
.dept:hover{
    transform: scale(1.5);
    background: rgb(248, 213, 167);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
    
}
.d1{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size:20px;
    font-family: 'Yuji Mai', serif;
}

.outer-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.inner-box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.vaccine{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;

}

#vax{
    margin-top: 200px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: rgb(216, 95, 51);
    -webkit-text-stroke:2px rgb(53, 1, 1);
    text-decoration: underline black;
    margin-bottom: 0;
}

#v1{
   width:250px;
   height:250px;
   margin-left: 80px;
   margin-top: 0px;
   
}
#v5{
    width:250px;
    height:250px;
    margin-left: 30px;
    margin-top: 0px;
    border:3px solid rgb(6, 6, 78);
    border-radius: 100%
   
    
 }
 
 #v6{
    width:250px;
    height:250px;
    margin-right: 70px;
    margin-top: 0px;
   
    
 }

 #v2{
    font-family: 'Righteous', cursive;
    font-size:30px;
    text-align:justify;
    
 }
 #v3{
     text-align: center;
     font-family: 'Ubuntu Mono', monospace;
     font-size:25px;
    
     list-style-position: inside;
 }
 #v4{
    font-family: 'Righteous', cursive;
    font-size:25px;
    
 }
 

 
 .outer-box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
 }
 .inner-box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.insurance{
    display: flex;
    flex-direction: column;
   justify-content:center;
   align-items: center;
    
}

#HI1{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: rgb(1, 1, 88);
    text-decoration: underline;
 }
#h3{
    font-family: 'Road Rage', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(59, 2, 83);
    text-align: left;
}
#h4{
    font-family: 'Righteous', cursive;
    font-size:20px;
    text-align:center;
}

#h5{
    font-family: 'Righteous', cursive;
    font-size:20px;
    text-align:justify;
    margin-top: 50px;
   

}
#h6{
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size:25px;
    margin-top:80px;
    list-style-type: square;
    list-style-position: inside;
}

#h2{
     margin-top: 300px;
     margin-left:0px;
}
#h7{
   margin-top:10px;
   font-family: 'Ubuntu Mono', monospace;
   font-size:30px;
   font-weight: bold;
}
#h8{
    margin-top: 300px;
    margin-right: 50px;
}

 

 
