table{
    width: 100%;
}

table, th, td {
    border: 10px solid white;
  }
  th, td {
     
    text-align: center;
    font-size: 10px;
  }
th{
    font-family: 'Mochiy Pop P One', sans-serif;
}
td{
    position: relative;
    align-items: center;
    font-style: italic;
   
}