body{background-color:#f2f6fc;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.nav-borders .nav-link:hover {
    color: #0061f2;
    border-bottom-color: #0061f2;
    text-decoration: underline;
    font-weight: bold;
}

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
#personal_info_section{
    display: block;
}
#schedule_section{
    display: none;
}
/* .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
    }
    .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
    } */